* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    line-height: 1.5;
    overflow-y: scroll;
}

main {
    padding-bottom: 2em;
    padding-top: 5em;
    margin: auto;
}

label {
    display: block;
    margin-top: 1em;
}

input, textarea {
    display: block;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 0.7em;
    outline: none;
    border-radius: 10px;
    /* border: 1px solid gray; */
    border: none;
    background-color: #eee;
    transition: background-color 0.1s;
}

input:hover, textarea:hover {
    background-color: #ddd;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 2px lightblue;
    background-color: white;
}

button, a {
    transition: transform 0.5s;
    font-weight: 500;
}

button:active, a:active {
    transform: scale(0.9);
    outline: none;
}

textarea {
    resize: none;
    width: 100%;
}

button {
    font-size: inherit;
}

a {
    color: inherit;
    font-size: inherit;
}

th:not(:last-child) {
    padding-right: 13em;
}

.btn {
    text-decoration: none;
    border: none;
    color: white;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(48, 141, 172);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(34, 122, 151);
    transition: background-color 0.3s;
}

.edit-btn {
    margin-right: 0.5em;
}

.delete-btn {
    background-color: rgb(194, 28, 28);
}

.delete-btn:hover {
    background-color: rgb(175, 13, 13);
}

.update-btn {
    background-color: rgb(47, 112, 44);
}

.alert {
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
}

.alert-delete {
    background-color: rgb(245, 163, 163);
    color: rgb(145, 15, 15);
}

.alert-save {
    color: rgb(47, 112, 44);
    background-color: rgb(151, 252, 151);
}

.insert-form, .edit-form {
    background-color: white;
    width: 100%;
    max-width: 375px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5em 2em;
    margin: auto;
    height: 100%;
    box-shadow: 0 0 10px lightgray;
}

.hidden {
    display: none;
}

.record {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding: 1em 2em;
    padding-left: 1.7em;
    border-bottom: 1px solid lightgray;
}

.record a {
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 0.3em;
}

.record a:hover {
    background-color: #ddd;
}

.record .delete-btn {
    margin-left: auto;
    margin-right: 1em;
}

.sign-in-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 2em;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
}

/* .open-insert-form {
    margin-left: auto;
} */

[type="submit"] {
    margin-top: 1em;
}

.search {
    height: fit-content;
    flex-shrink: 1;
    margin: 0 1em;
}

.company-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.company-card header {
    color: black;
}

.company-card {
    color: rgb(77, 77, 77);
}

.company-card div {
    padding: 0.7em 1.3em;
    background-color: #eee;
    margin: 0.3em 0;
    border-radius: 10px;
}

.company-card p {
    margin: 1em 0;
    padding-bottom: 0.5em;
}